div [id="Section3_container"] {
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
}
div [id="Section3_title_row"] {
  margin: 50px 0px;
  text-align: center;
  width: 100%;
}
div [id="Section3_row"] {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  justify-content: center;
}

@media (max-width: 575px) {
  div [id="Section3_row"] {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  div [id="Section3_row"] {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
