.App {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit 표준 X */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE 표준 X */
}
.scrollLock {
  overflow: hidden;
}
body {
  cursor: url(./Components/Causor/icons8-커서-48.png) 2 2, auto;
}
